Source: uberwriter
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Wolf Vollprecht <w.vollprecht@gmail.com>
Standards-Version: 3.9.3
XS-Python-Version: current

Package: uberwriter
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 python-quickly.widgets,
 gir1.2-pango-1.0,
 gir1.2-launchpad-integration-3.0,
 pandoc,
 yelp
Suggests: texlive-luatex
Description: UberWriter, beautiful distraction free writing
 With UberWriter you get only one thing: An empty textbox, that is to
 fill with your ideas. There are no settings, you don't have to choose a
 font, it is only for writing. You can use markdown for all your markup
 needs. To use PDF, HTML and RTF export consider installing Pandoc from
 the software center.
