Source: uberwriter
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Wolf Vollprecht <w.vollprecht@gmail.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: uberwriter
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 yelp
Description: UberWriter, beautiful distraction free writing
 With UberWriter you get only one thing: An empty textbox, that is to
 fill with your ideas. There are no settings, you don't have to choose a
 font, it is only for writing. You can use markdown for all your markup
 needs. To use PDF, HTML and RTF export consider installing Pandoc from
 the software center.
