Package: uberwriter
Version: 12.08.28-public1
Architecture: all
Maintainer: Wolf Vollprecht <w.vollprecht@gmail.com>
Installed-Size: 541
Depends: python (>= 2.7.1-0ubuntu2), python2.7, gir1.2-glib-2.0, gir1.2-gtk-3.0, gir1.2-pango-1.0, gir1.2-launchpad-integration-3.0, pandoc, python-enchant, yelp
Suggests: texlive
Section: python
Priority: extra
Description: UberWriter, beautiful distraction free writing
 With UberWriter you get only one thing: An empty textbox, that is to
 fill with your ideas. There are no settings, you don't have to choose a
 font, it is only for writing.You can use markdown for all your markup
 needs. PDF, RTF and HTML are generated with pandoc. For PDF generation it
 is also required that you choose to install the texlive-luatex package.
