/*@import url('reset.css');*/

#UberwriterWindow {
    background: #FFF;
    color: #CCC;
}
#UberwriterWindow GtkTextView {
    border: none;
    -GtkWidget-cursor-color: #FA5B0F;
    -GtkWidget-cursor-aspect-ratio: 0.05;
    background-color: transparent ;
    color: #222;
    /*font: Rough_Typewriter 15;*/
}

#UberwriterWindow GtkTextView:selected {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}


#status_bar_box GtkLabel{
    color: #666;
    transition: 400ms ease-in-out;
}

/* Original plan is to provide a transition to insensitive for fade-out */

#status_bar_box GtkLabel {
    transition: 500ms ease-in-out;
}

#status_bar_box GtkButton {
    border-style: none;
    -unico-border-gradient: none;
    -GtkButton-images: true;
    transition: 500ms ease-in-out;
    color: #666;
    padding: 3px 5px;
    -GtkButton-child-displacement-y: 0px;
    -GtkButton-child-displacement-x: 0;            
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 5px;
    -GtkButton-interior-focus: false;
    -GtkButton-inner-border: 0;
    transition: 500ms ease-in-out;
}

#status_bar_box GtkButton:hover, 
#status_bar_box GtkButton:active:hover {
    color: #333;
    background-color: #EEE;
    background-image: none;
    -unico-border-gradient: none;
    -unico-glow-radius: 0;
    -unico-glow-color: #FFF;
}


#status_bar_box GtkButton:active {
    color: #333;
    box-shadow: inset 0 0 5 #333;
    background-color: #EEE;
    background-image: none;
}

#status_bar_box GtkLabel:insensitive {
    color: rgba(255,255,255,0);
    transition: 500ms ease-in-out;
}

#status_bar_box GtkButton:insensitive {
    background: rgba(255,255,255,0);
    transition: 500ms ease-in-out;
}

/*#status_bar_box GtkButton:insensitive {
    color: #F00;
    background-color: #000;
}*/

/*#status_bar_box GtkLabel {
    color: #666;
}*/